@{
    ViewBag.Title = "Home Page";
}
<html>
<body>
    @if (ViewBag.Usuario == null)
    {
        <div class="container">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" target="_blank" class="btn">Login</button>
        </div>
        <div id="id01" class="modal">
            <form class="modal-content animate" action="" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <label for="usuario" class="txt"><b>Username</b></label><br>
                    <input type="text" placeholder="Enter Username" name="usuario" required>
                    <br>
                    <label for="senha" class="txt"><b>Password</b></label><br>
                    <input type="password" placeholder="Enter Password" name="senha" required>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    }
    else
    {
       
         Html.RenderPartial("_Menu");
        
    }
</body>
</html>