body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../Img/casamento_1.png);
    
    background-position: top;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: auto;
}

 .container .btn {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     background-color: #22eaaa;
     color: white;
     font-size: 16px;
     padding: 17px 42px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     text-align: center;
 }
button.btn {
    margin-top: 125%;
}

h2.name_company {
    color: black;
    font-weight: bolder;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=date] {
    width: 92%;
    padding: 1% 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 92%;
}


    button:hover {
        opacity: 0.8;
    }

    button#Search {
        background: transparent;
        margin-left: -10%;
        border: 0px;
        padding: 1% 1% 0.7% 0%;
        width: 7.5%;
    }
    button#datepicker {
        background: #f7f4f4;
        margin-left: -1%;
        border: 0px;
        padding: 1% 1% 0.3% 0%;
        width: 7.5%;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    color: white;
}

b {
    color: black;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
select#type {
    width: 92%;
    padding: 1% 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form#cadastroEvento {
    width: 339%;
    margin-left: -440px;
    padding: 0%;
    margin-top: 16%;
}

td#cpf {
    padding-left: 1.5%;
}

input#nomeid {
    padding: 1% 0% 1% 72%;
}

td#nome {
    width:40%;
    padding-left: 3%;
}

input#qnt {
    width: 17%;
}

td#dataEvento {
    padding-left: 3.8%;
}

input#data {
     padding: 1% 0% 1% 73.3%;
}

td#cep_table {
    padding-left: 1.5%;
}

input#rua {
    padding: 1% 0% 1% 4.1%;
}


input#nro {
    width: 17%;
}

td#nro {
    padding-left: 4.8%;
}

td#rua_table {
    padding-left: 4%;
}

button#cadastroEvento{
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 22%;
    margin-left: 37%;
    margin-top: 2%;
}