@{
    ViewBag.Title = "Home Page";
}
<html>
<body>

    @{
        Html.RenderPartial("_Menu");
    }




    <iframe src="https://calendar.google.com/calendar/embed?src=deeventosgestao%40gmail.com&amp;ctz=America%2FSao_Paulo" style="border: 0" width="1100" height="500" frameborder="0" scrolling="no" margin-left="-106%"></iframe>

</body>
</html>